<div class="col-md-6 offset-md-3">
    <div class="card bg-light text-light">
        <div class="card-header">
            <h1 class="h4 text-dark">Contacts List</h1>
        </div>
        <div class="card-body p-4">
            {{#if contacts}}
            <ul class="list-group">
                {{#each contacts}}
                <li class="list-group-item flex justify-content-between align-items-center">
                    <h3>{{firstname}} {{lastname}}</h3>
                    <p>{{email}}</p>
                    <p>{{phone}}</p>

                    <a href="/delete/{{id}}" class="btn btn-danger">Delete</a>
                    <a href="/update/{{id}}" class="btn btn-secondary">Edit</a>

                </li>
                {{/each}}
            </ul>
            {{else}}
                {{#unless contact.id}}
                    <p class="text-dark">No contacts saved.</p>
                {{else}}
                    <p class="text-dark">Edit contact</p>
                {{/unless}}
            {{/if}}
        </div>

        <div class="card-body p-4">
            <form action="{{#unless contact.id}}/new{{else}}/edit/{{contact.id}}{{/unless}}" method="POST">
                <div class="row">
                    <div class="col">
                        <label for="firstname">First Name:</label>
                        <input type="text" name="firstname" placeholder="first name" id="firstname"
                            value="{{contact.firstname}}" class="form-control mb-2" />
                    </div>
                    <div class="col">
                        <label for="lastname">Last Name:</label>
                        <input type="text" name="lastname" placeholder="last name" id="lastname"
                            value="{{contact.lastname}}" class="form-control mb-2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="email">Email:</label>
                        <input type="text" name="email" placeholder="Email" id="email" value="{{contact.email}}"
                            class="form-control mb-2" />
                    </div>
                    <div class="col">
                        <label for="phone">Phone:</label>
                        <input type="text" name="phone" placeholder="phone" id="phone" value="{{contact.phone}}"
                            class="form-control mb-2" />
                    </div>
                </div>
                <div>
                    {{#if contact.id}}
                    <button class="btn btn-light btn-lg mt-2">Update</button>
                    <a href="/" class="btn btn-dark btn-lg mt-2 mx-2">Cancel</a>
                    {{else}}
                    <button class="btn btn-light btn-lg mt-2">Save</button>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>